.menu-item{
  transition: all 300ms linear;
  cursor: pointer;
}

.active-item, .menu-item:hover{
  background-color: rgb(198, 223, 255);
  font-weight: 500;
}

.input-se:focus{
outline: none !important;
border: none;
}

.reply-i{
  transform: rotate(180deg);
}